---
---
@import 'bootstrap.css';
@import 'code_highlight.css';
@import 'font_setting.css';
body {
  font-family: 'Roboto', sans-serif;
  word-spacing: 0.2em;
  background: url('../images/chris-adamus-30858-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: rgb(41, 191, 34);
}

a:hover {
  color: gray;
}

.main-section {
  min-height: 960px;
  background: #d3ecd8;
  -webkit-box-shadow: -19px -12px 24px -13px rgba(148,142,133,0.65);
  -moz-box-shadow: -19px -12px 24px -13px rgba(148,142,133,0.65);
  box-shadow: -19px -12px 24px -13px rgba(148,142,133,0.65);
  margin: 0 auto;
  float: none;
  padding-bottom: 15px;
  .site-slogan {
    // color: rgb(101, 96, 96);
    color: rgba(119, 101, 101, 0.71);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .top-post {
    .entry-date {
      font-family: "Fira Mono",monospace;
      color: rgb(101, 96, 96);
    }
    ul {
      li:nth-child(6n) {
        border-bottom: solid 1px whitesmoke;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      .post-title {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
      }
      article{
        margin-bottom: 20px;
        display: flex;
        background: white;
        .mainWrapper{
          width: 100%;
          display: flex;
          background: #355043;
          .img-thumb{
            width: 30%;
            margin-right: 5%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .postDesc{
            width: 60%;
            padding: 15px 0px;
            color: white;
          }
        }
      }
    }
  }
}

.blog-header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  h1 {
    color: #29bf22;
    font-weight: 900;
    font-style: italic;
    font-weight: bold;
  }
  .slogan {
    font-size: 14px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #34DE3C;
  }
  color: rgb(41, 161, 20);
  border-bottom: solid 1px rgba(128, 128, 128, 0.63);
  padding: 10px 0px;
}
.home-page-content {
  h3 {
    background: whitesmoke;
    padding: 3px 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 5px;
  }
  h2.home-page-title {
    font-style: italic;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  h2.remind-title {
    font-style: italic;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  p.remind-time {
    text-align: center;
    font-size: 5em;
  }
  a {
    color: #2fab29;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}
