---
---
// @import "{{ site.theme }}";
@import 'bootstrap.css';
@import 'code_highlight.css';
@import 'font_setting.css';


@keyframes color-animation {
    0% {
       background: wheat;
    }
    50% {
       background: Bubble Gum;
    }
    100% {
       background: #bbdefb
    }
}

body {
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
  // background: #F8F8F8;
  background: wheat;
  animation: color-animation 10s infinite linear alternate;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 10px; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px !important; }

h1, h2, h3 {
  line-height: 1.1; }

h1 {
  font-size: 28px; }

h2 {
  color: #393939; }

h3, h4, h5, h6 {
  color: #494949; }

a {
  color: #267CB9;
  text-decoration: none; }

a:hover, a:focus {
  color: #069;
  font-weight: bold; }

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block; }

a:hover small {
  color: #777; }

.main-container {
  width: 100%;
  top: 50px;
  position: relative;
  .right-section {
    // background: wheat;
    background: white;
    padding: 20px;
    min-height: 385px;
    .seperate-line {
      text-align: center;
      padding-bottom: 10px;
    }
    h5 {
      font-weight: bold;
    }
  }
  .left-section {
    .post-count-on-cate {
      float: right;
      margin-right: 30px;
      background: gray;
      color: white;
      padding: 0 10px 0 10px;
    }
    ul {
      padding-left: 3px;
      list-style-position:inside;
      border-left: solid 5px #CCCCCC;
      li {
        padding: 0 0 3px 8px;
      }
      li:hover {
        background: #F8F8F8;
        margin-right: 30px;
      }
      li:nth-child(2n+1) {
        // background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}
.nav-bar{
  width: 100%;
  display: inline-block;
  height: 50px;
  .left-header {
    margin-top: 10px;
    h1 {
      color: gray;
      font-style: italic;
      font-weight: bold;
    }
  }
  .right-header {
    background: white;
    height: 500px;
    .bg-header {
      height: 80px;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgNchEOZP4RAUTdMpe4_3ChX4uf-ckXAL-JOrPMBJ5LS3nZIcS");
    }
  }
  ul {
    li {
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
.clear-both{
  clear: both;
}
footer {

}
.footer-info {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media print, screen and (max-width: 960px) {
.main-container {
  .left-section {
    display: none;
  }
}
.nav-bar{
  height: 130px;
}

}

@media print, screen and (max-width: 720px) {

}

@media print, screen and (max-width: 480px) {

}

//  Post by category
.main-post-by-category {
    float: none;
    margin: 0 auto;
}

// Home page
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.big-header img
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         30.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

body {
  font-size: 160%;
}