<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div class="logo" style="overflow: hidden; width: 100%; height: 290px;"><img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/21151535_722791917909033_8814148483712534724_n.jpg?oh=3e2f0f7c8b696af48553f528f2f1e6cd&oe=5A5B5185"></div>
      </header>
      <section>
      <h1> {{ page.title }}</h1>
      {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small> <small>Maintained by @quyencarrot</small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}

  {% endif %}
  </body>
</html>