<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>quyencv</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="nav-bar-container">
        <div class="container">
             <div class="col-md-9 nav-bar">
                    <div class="left-header col-md-3">
                     <a href="{{site.url}}"><h1>quyencv</h1></a>
                    </div>
                    <div class="right-header col-md-9">
                      <ul>
                        <li><a href="{{site.url}}">Home</a></li>
                        <li><a href="{{site.baseurl}}/archived"> Archived </a></li>
                      </ul>
                    </div>
                </div>
            </div>
      </div> <!-- End nav-bar -->

    <div class="container">
      <div class="main-container">
         <div class="left-section col-md-3 ">
            <ul>
              {% for category in site.categories %}
                <li><a href="{{site.baseurl}}/post-by-category#{{category[0]}}">{{ category[0] }} <span class="post-count-on-cate">{{category[1].size}}</span></a></li>
              {% endfor %}
            </ul>
         </div>

         <div class="right-section col-md-9">
            <span class='post-date'> On: {{ page.date | date: '%B %d, %Y' }} </span>
            <h1 class="post-title"> {{ page.title }}</h1>
            <div class="seperate-line"></div>

            {{ content }}
            <div class="seperate-line"></div>
            <div class="tagPost">Tagged with {{ page.categories | join: ', ' }} </div>
            {% include disqus.html %}
         </div>

         <div class="col-md-1"></div>
                <!-- <section> -->
                <!-- </section> -->
         <div class="clear-both col-md-9 footer-section">
            <footer>
              <div class="footer-info">
                <p><small>Hosted on GitHub Pages &mdash; Theme inspired by <a href="https://github.com/orderedlist">orderedlist</a></small> <small>Maintained by @quyen91</small></p>
              </div>
            </footer>
         </div>
      </div> <!--  End main-container -->
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  {% if site.google_analytics %}

  {% endif %}
  </body>
</html>