<!DOCTYPE html>
<html>
<head>
  <title>quyencarrot</title>
  <link rel="stylesheet" type="text/css" href='{{ "/assets/css/home_page.css" | relative_url }}'>
</head>
<body>

<div class="container">
  <div class="main-section col-md-9">
    <div class="blog-header">
      <h1 style="margin: 0 0 5px;"> quyencarrot :irb> <span class="slogan">  On the way to be better developer </span></h1>
    </div>
    <p><span class='site-slogan'><small><i>Desire to change, desire to be better</i></small></span></p>
      {{ content }}
   </div><!--  End main-section -->
</div>

</body>
</html>