<!DOCTYPE html>
<html>
<head>
  <title>QuyenCarrot</title>
  <link rel="stylesheet" type="text/css" href='{{ "/assets/css/style.css" | relative_url }}'>
</head>
<body>
<div class="big-header" style="width: 100%;position: relative; height: 350px; overflow: hidden; margin-bottom: 15px;">
  <img class="img-responsive" src="https://photos-6.dropbox.com/t/2/AACpAyrxC7JrMs0zHl1TmPecxl83LdFndHspO9_WF4Ji-w/12/698363595/png/32x32/1/_/1/2/computer-1836330_1920.png/ELWNneAFGAMgBygH/38XpAon5GnY_2-KaeTa4PPmmkwNu7p7UsIgLTrSJTO4?size=1280x960&size_mode=3">
</div>
<h1 style="margin: 0 0 5px;"> QuyenCarrot - On the way to be better developer</h1>
<p><small><i>Desire to change, desire to be better</i></small></p>
  <ul>
    {% for post in site.posts %}
      <li>
        <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }} --- </time></span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
 </ul>
</body>
</html>